<!DOCTYPE html>
<html>

<head>
    <title>Book App</title>
    <link rel="stylesheet" href="/style/base.css">

</head>

<body>
    <header>
        <h1>
            Book App
        </h1>
    </header>
    <form>

        <label>
            <span> search by title</span>
            <input search by title="search by title" />
        </label>
        <label>
            <span> search by author</span>
            <input search by author="search by author" />
        </label>
        <button>search</button>
    </form>


    </main>
</body>

</html>