<!DOCTYPE html>
<html>
<head>
   <title>hello world</title>
   <link rel="stylesheet" href="/style/base.css">
  
</head>
<body>
    <header>
        <h1>
            HELLLO WORLD
        </h1>
    </header>
  
</main>
</body>
</html>