<!DOCTYPE html>
<html>

<head>
    <title>Book App</title>
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="ststyle/modules.css">
    <link rel="stylesheet" href="style/layout.css">

</head>

<body>
    <header>
        <h1> Best Books!</h1>
    </header>
    <form action="/searches" method="post">

        <label>
            <span> Enter a title or author</span>
            <input name="search" />
        </label>
        <label>
            <span> search by Title</span>
            <input type="radio" name="choose" value="title">

        </label>
        <label>
            <span> search by author</span>
            <input type="radio" name="choose" value="author">

        </label>

        <button>Search the Goolge Books API</button>
    </form>


    </main>
</body>

</html>